<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>osxdotool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2468397E1F08FB2B00D35B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
